@{
    ViewData["Title"] = "Produtos";
}

@model List<ProductModel>

<div>
    <section class="product-search-bar-area">
        <form asp-controller="Products" asp-action="Index" class="search-bar-form">
            <input class="search-bar" type="text" name="searchString" placeholder="Buscar..." value="@ViewBag.SearchBar">
            <input class="search-bar-button" type="submit" value="Pesquisar" />
        </form>

        <h1>Produtos</h1>
    </section>
    @foreach(var product in Model)
    {
        <form asp-action="Product" class="product-card-area">
            <button class="product-card">
                <input type="hidden" value="@product.Id" name="productId">
                <img class="product-card-image-area" src="@product.ImagePath"/>
                <div class="product-card-information-area">
                        <h2>@product.Name</h2>
                        <h3>@product.Brand</h3>

                        <div class="avaliation-subarea">

                            <p>Avaliações</p>
                            <div>
                                <img class="star-icon" src="/images/star-icon.svg" />
                                <img class="star-icon" src="/images/star-icon.svg" />
                                <img class="star-icon" src="/images/star-icon.svg" />
                                <img class="star-icon" src="/images/star-icon.svg" />
                                <img class="star-icon" src="/images/star-icon.svg" />
                            </div>
                        
                        </div>

                        <p class="sold-units">@product.SoldUnits Unidades vendidas</p>

                        <div class="price-area">
                        <p class="pricing">R$</p>
                        <p class ="pricing">@product.Price</p>
                        <p class="lot-text">/lotes: @product.UnitsInLot unidades</p>
                        </div>
                </div>

            </button>

        </form>
    }
</div>