@{
    ViewData["Title"] = "Pedidos";
}

@model List<OrderModel>

<a href="@Url.Action("Index", "Home")" class="back-arrow"><img class="arrow-image" src="/images/back-icon.png"> Voltar</a>

<div>
    
    <section class="finished-orders">
        <h1>Pedidos ativos</h1>
        @foreach (var order in Model)
        {
            <form asp-action="OrderDetails" class="product-card-area">
                <button class="product-card">
                    <input type="hidden" value="@order.Product.Id" name="productId">
                    <input type="hidden" value="@order.Quantity" name="quantity">
                    <img class="product-card-image-area" src="@order.Product.ImagePath" />
                    <div class="product-card-information-area">
                        <h2>@order.Product.Name</h2>
                        <h3>@order.Product.Brand</h3>

                        <p class="sold-units">@order.Quantity lotes</p>

                        <div class="price-area">
                            <p class="pricing">R$ @order.Product.Price</p>
                        </div>
                    </div>

                </button>

            </form>
        }
        @if(Model.Count() == 0)
        {
            <p>Nenhum registro encontrado</p>
        }
    </section>

    <section class="finished-orders">
        <h1>Pedidos Pendentes</h1>
        <p>Nenhum registro encontrado</p>
    </section>

    <section class="finished-orders">
        <h1>Pedidos Encerrados</h1>
        <p>Nenhum registro encontrado</p>
    </section>
</div>