@{
    ViewData["Title"] = "Pagamento";
}

@model ProductModel

<a href="@Url.Action("Product", "Products", new { productId = Model.Id} )" class="back-arrow"><img class="arrow-image" src="/images/back-icon.png"> Voltar</a>

<div>
    
    <section class="payment-card-area">

        <h1>Efetuar Pagamento</h1>

        <div class="payment-product-card">

            <div class="image-plus-information">

                <img class="payment-card-image-area" src="@Model.ImagePath" />

                <div class="payment-card-information-area">

                    <h2>@Model.Name</h2>
                    <h3>@Model.Brand</h3>

                    <div class="payment-quantity-area">
                        <p>Quantidade: @Model.Quantity</p>
                    </div>

                    <p class="lot-text">/lotes: @Model.UnitsInLot unidades</p>

                </div>

            </div>

            <div class="payment-avaliation-price">

                <div class="avaliation-subarea">

                    <p>Avaliações</p>
                    <div>
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                        <img class="star-icon" src="/images/star-icon.svg" />
                    </div>

                </div>

                <p class="sold-units">@Model.SoldUnits Unidades vendidas</p>

            </div>

            <div class="payment-price-area">
                <p class="total-value">Valor Total:</p>
                <p class="payment-pricing">R$</p>
                <p class="payment-pricing">@Model.Price</p>
            </div>

        </div>

    </section>

    <section class="payment-forms">
        <h1>Formas de Pagamento</h1>

        <div class="payment-option-card">
            <img class="payment-option-icons" src="/images/credit-card-icon.png"/>
            <p class="payment-option-text">Cartão de Crédito</p>
        </div>

        <div class="payment-option-card">
            <img class="payment-option-icons" src="/images/pix-icon.png" />
            <p class="payment-option-text">Pix</p>
        </div>

    </section>

    <section class="product-button-area">
        <a href="@Url.Action("DataPaymentForm", "Products", new { productId = Model.Id, Quantity = Model.Quantity })" class="button-purple" onclick="realizarPagamento()">Realizar Pagamento</a>
    </section>

</div>

<script>
</script>