@{
    ViewData["Title"] = "Produto";
}

@model ProductModel

<div>
    <img class="product-main-banner-area" src="@Model.ImagePath" />
    <section class="product-main-information">
        <h2>@Model.Name</h2>
        <h3>@Model.Brand</h3>
        <h4>Sobre o Produto</h4>
        <p class="product-avaliation-description">@Model.Description</p>

        <div class="product-avaliation">

            <p class="avaliation-title">Avaliações</p>

            <div>
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
                <img class="product-star-icon" src="/images/star-icon.svg" />
            </div>

        </div>

        <p class="sold-units-product">@Model.SoldUnits Unidades vendidas</p>

    </section>

    <section class="pricing-and-options-area">

        <div class="price-and-quantity">
            <div class="product-pricing-area">
                <p class="product-pricing">R$</p>

                <div class="product-value">
                    <p class="product-pricing">@Model.Price</p>
                    <p class="product-lot-text">/lotes: @Model.UnitsInLot unidades</p>
                </div>

            </div>

            <div class="quantity-area">
                <p>Quantidade:</p>
                <input class="quantity-counter" type="text" />
            </div>
        </div>
       
        <div class="product-button-area">
            <form asp-controller="Products" asp-action="Payment">
                <input type="hidden" value="@Model.Id" name="productId" />
                <button class="button-purple" type="submit">Efetuar Pedido</button>
            </form>
            <button class="button-gray" type="button">Enviar Mensagem</button>

        </div>

    </section>
</div>